.index {
  flex-direction: column;
  width: 100%;
  font-size: 30px;
  // height: 5000px;
  padding-top: 50rpx;

}
.title {
  color: red;
  line-height: 50rpx;
}
.body {
  // padding-top: 48px;
  display: block;
  line-height: 30rpx;
}
